<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8b4575fb-9cf5-4662-b1ce-bb7248462321/resourceGroups/aplicacao-web/providers/Microsoft.Web/sites/lista-contatos-web</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lista-contatos-web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ba349128-184e-49e8-82ad-99eb0a47c0a3</ProjectGuid>
    <PublishUrl>https://lista-contatos-web.scm.azurewebsites.net/</PublishUrl>
    <UserName>$lista-contatos-web</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>