/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.titulo {
    margin-left: 12px;
    color: #fff;
    line-height: 1.1;
}

/*.titulo-portal {
    margin-left: 12px;
    color: #fff;
    line-height: 1.1;
}*/
/*
.iconAbase .fa-suitcase {
    color: #00c0c8;
}

.iconAbase .fa-windows {
    color: #fb9678a3;
}

.iconAbase .fa-bars {
    color: #ab8ce4c7;
}

.iconAbase .fa-users-cog {
    color: #00c292;
}

.iconAbase .fa-city {
    color: #e21b2f8a;
}

.iconAbase .fa-warehouse {
    color: #fec20b;
}

.iconAbase .fa-sign-out-alt {
    color: #fb9678;
}

.iconAbase .fa-search {
    color: #009aff;
}

.iconAbase .fa-folder-open {
    color: #27db53;
}

.iconAbase .fa-cog {
    color: #00d2ff;
}

.iconAbase .fa-user-cog {
    color: #19d000;
}

.iconAbase .fa-cogs {
    color: #19d000;
}

.iconAbase .fa-users {
    color: #03a9f3;
}*/

table {
    border-collapse: collapse
}

.label-danger-form {
    color: red;
}

.table td, .table th {
    padding: 0.61rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

.fab {
    bottom: 100px;
    right: 10px;
    font-family: Poppins,sans-serif;
}

    .fab button {
        cursor: pointer;
        width: 48px;
        height: 48px;
        border-radius: 30px;
        background-color: #FFF;
        border: none;
        box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
        font-size: 24px;
        color: black;
        -webkit-transition: .2s ease-out;
        -moz-transition: .2s ease-out;
        transition: .2s ease-out;
    }

        .fab button:focus {
            outline: none;
        }

        .fab button.main {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: #03A9F3;
            right: 0;
            bottom: 0;
            z-index: 20;
            color: white;
        }

    .fab ul {
        position: absolute;
        bottom: 70px;
        right: 0;
        padding: 0;
        padding-right: 5px;
        margin: 0;
        list-style: none;
        z-index: 10;
        -webkit-transition: .2s ease-out;
        -moz-transition: .2s ease-out;
        transition: .2s ease-out;
    }

        .fab ul li {
            display: flex;
            justify-content: flex-start;
            position: relative;
            margin-bottom: 3%;
            opacity: 1;
            -webkit-transition: .3s ease-out;
            -moz-transition: .3s ease-out;
            transition: .3s ease-out;
            color: #000;
        }

            .fab ul li label {
                margin-right: 10px;
                white-space: nowrap;
                display: block;
                margin-top: 10px;
                padding: 8px 5px 5px 5px;
                background-color: white;
                box-shadow: 0 0 8px 0 rgba(0,0,0,.5);
                border-radius: 3px;
                font-size: 14px;
                font-weight: 400;
                opacity: 1;
                -webkit-transition: .2s ease-out;
                -moz-transition: .2s ease-out;
                transition: .2s ease-out;
            }

    .fab button.main:active,
    .fab button.main:focus {
        outline: none;
        background-color: #0b82f5;
        box-shadow: 0 3px 8px rgba(0,0,0,.5);
    }

.titulo-navbar {
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}
