<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" style="height:45px;" type="image/x-icon" sizes="16x16" href="~/assets/images/iconecomputadore.png">
<title>Contatos</title>