<!DOCTYPE html>
<head>
    <partial name="_Header.cshtml" />
    <partial name="_Css.cshtml" />
</head>

<body class="skin-blue fixed-layout">
    <div class="preloader" id="loader-processo-digital">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Autenticador</p>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" id="layout-top-bar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" onclick="PushHome();">
                      @*  <b><img id="brasao"  alt="homepage" href="/suporte/home" class="light-logo brasao" /></b>*@
                        <span class="hidden-sm-down"></span>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <li class="">
                            <h2 class="titulo mt-3">Contatos</h2>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown d-none d-lg-block" id="fonte_normal">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-volume-mute" data-toggle="tooltip" title="Ativar notificação" style="display:none" id="btn-ativar-notificacao" onclick="ativaDesativaSomNotificacao(false)"></i>
                                <i class="fas fa-volume-up" data-toggle="tooltip" title="Desativar notificação" style="display:none" id="btn-desativar-notificacao" onclick="ativaDesativaSomNotificacao(true)"></i>
                            </a>
                        </li>
             @*           <li class="nav-item dropdown d-none d-lg-block" id="fonte_normal">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-sync"></span>
                            </a>
                        </li>
                        <li class="nav-item dropdown d-none d-lg-block" id="aumenta_fonte">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" aria-haspopup="true" aria-expanded="false">
                                A+
                            </a>
                        </li>
                        <li class="nav-item dropdown d-none d-lg-block" id="reduz_fonte">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" aria-haspopup="true" aria-expanded="false">
                                A-
                            </a>

                        </li>
                        <li class="nav-item dropdown d-none d-none d-lg-block" id="altocontraste">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" aria-haspopup="true" aria-expanded="false">
                                Alto Contraste
                            </a>
                        </li>*@
                        <li class="nav-item dropdown u-pro">
                            <span class="d-none d-md-block">
                        @*        <img src="" style="padding-top:12px;" class="light-logo" alt="homepage" />*@
                            </span>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" id="menu-lateral">
            <div class="scroll-sidebar" id="div-menu-lateral">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li id="menu-solucao">
                            <a class="waves-effect waves-dark" href="/gerenciar-pessoas" aria-expanded="false">
                                <i class="fa fa-users"></i> <span class="hide-menu">Gerenciar Pessoas</span>
                            </a>
                        </li>
                        <li id="menu-solucao">
                            <a class="waves-effect waves-dark" href="/gerenciar-tipos" aria-expanded="false">
                                <i class="fa fa-cogs"></i> <span class="hide-menu">Gerenciar Tipo de Contato</span>
                            </a>
                        </li>


                        <li id="menu-solucao">
                            <a class="waves-effect waves-dark" href="/gerenciar-contatos" aria-expanded="false">
                                <i class="fa fa-address-book"></i> <span class="hide-menu">Gerenciar Contatos</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Painel de Serviços <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">

                            <ul class="m-t-20 chatonline">
                                <li><b>Acessibilidade</b></li>
                                <li>
                                    <a id="aumenta_fonte_painel_servicos"><span>A+</span></a>
                                    <a id="reduz_fonte_painel_servicos"><span>A-</span></a>
                                    <a id="altocontraste_painel_servicos"><span>Alto Contraste</span></a>
                                </li>

                            </ul>

                            <ul id="themecolors" class="m-t-20">
                                <li><b>Alterar Cor</b></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default" class="default-theme working">1</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna" class="megna-theme">6</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-default-dark" class="default-dark-theme ">7</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-skin="skin-megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><a href="/login"><b>Administrativo</b></a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><a href="/"><b>Todas Entidades</b></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer" style="position:absolute;margin-left:0px">
            <div class="row">
               @* <img style="height:40px;" src="" alt="homepage" class="light-logo" />*@
                <div style="text-align: center !important; flex: 1 1 auto;margin-top:10px;margin-left:00px;">©@DateTime.Now.Year todos os direitos reservados</div>
            </div>
        </footer>
    </div>
    <partial name="_JavaScripts.cshtml" />
    @RenderSection("Scripts", required: false)
    @*<script src="~/js/core/startup.js?v@(FileVersion.Versao())"></script>*@
    <script type="text/javascript">
        $(function() {
            $(".preloader").fadeOut();
        });
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <div style="display:none;" id="flags"></div>
</body>

